@import "materialize";

body {
  background: #E8F5E9;
  color: rgba(0, 0, 0, 0.87);
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #4CAF50;
  padding: 0.5em 1em;
}

section,
h1 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: block;
  font-size: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.87);
}

.complete {
  text-decoration: line-through;
}

.todoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content:space-between;*/
}

.todoItemContainer{
  height: 300px;
  width: 270px;
}

.app{
  height: 300px;
  width: 270px;
  background-color: #000088;
}

.dragging{
  @extend .z-depth-5;
}

@media screen and (max-width: 750px) {
  body > h1 {
    font-size: 3rem;
  }
  .todoContainer {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

.todoBox {
  background: transparent;
  height: 90%;

}

.todo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

todo-item {
  height: inherit;
}

.todo-action-buttons {
  /*align-self:flex-end;*/
}

.todo-text {
  text-wrap: normal;
}
