
.complete {
  text-decoration: line-through;

}

.todoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content:space-between;*/
}

.todoItemContainer{
  height: 300px;
  width: 270px;
}

.app{
  height: 300px;
  width: 270px;
  background-color: #000088;
}

.dragging{
  @extend .z-depth-5;
}

@media screen and (max-width: 750px) {
  body > h1 {
    font-size: 3rem;
  }
  .todoContainer {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

.todoBox {
  background: transparent;
  height: 90%;

}

.todo {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

todo-item {
  height: inherit;
}


.todo-text {
  text-wrap: normal;
  padding-top: 20px;
  flex:1;
}

.material-icons{
  line-height: 36px;
}

.no-transition {
  transition: none !important;
}
.inherit-height{
  height: inherit;
}