<div ng-class="{ 'complete' : item.isComplete}" class="todo">
	<div ng-switch on="edit">
		<div ng-switch-when="true">
			<form id="todo-form" ng-submit="submitForm()">
                <input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="item.title">
                <!-- <input id="submit-todo" type="submit" value="Uodate"> -->
            </form>
		</div>
		<div ng-switch-default>
			<div ng-dblclick="editTitle()"> {{item.title}} </div>
		</div>
    </div>
    <button ng-click="deleteTodo()" >Delete</button>
    <button ng-click="toggleTodoComplete()" >Completed</button>
</div>
